.app-container {
  background: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.password-manager-container {
  width: 90%;
  padding-top: 40px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .password-manager-container {
    width: 85%;
  }
}

.password-manager-heading-container {
  width: 100%;
}
.app-logo {
  width: 30%;
}

@media screen and (min-width: 768px) {
  .app-logo {
    width: 15%;
  }
}

.password-manager-input-main-container {
  background-color: #5763a5;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.password-manager-input-inside-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .password-manager-input-inside-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.password-manager-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .password-manager-logo-container {
    height: 100%;
    width: 50%;
    order: 2;
    display: flex;
    align-items: center;
  }
}
.password-manager-logo {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .password-manager-logo {
    max-width: 280px;
    max-height: 280px;
  }
}
.pm-input-card-container {
  background-color: #454f84;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .pm-input-card-container {
    order: 1;
    width: 50%;
  }
}

.pm-input-card {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .pm-input-card {
    margin-bottom: 30px;
  }
}

.pm-input-heading {
  color: #f8fafc;
  font-size: 20px;
}
.input-container {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  height: 49px;
  margin-bottom: 15px;
}
.input-logo-container {
  border-right: 1px solid #5763a5;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-logo {
  width: 25px;
  height: 25px;
}
.input {
  width: 80%;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #5763a5;
  font-size: 16px;
  font-weight: bold;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.add-button {
  height: 35px;
  width: 110px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
}

.password-main-container {
  background-color: #5763a5;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.password-inside-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.your-password-heading-and-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.your-password-container {
  display: flex;
  align-items: center;
  width: 30%;
}

.your-password-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}

.count {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-left: 5px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 30%;
  font-weight: bold;
}

.search-input-container {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  height: 29px;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    width: 40%;
  }
}
.search-logo-container {
  border-right: 1px solid #5763a5;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-logo {
  width: 20px;
  height: 20px;
}
.search-input {
  width: 80%;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #5763a5;
  font-size: 16px;
  font-weight: bold;
}
.show-password-container {
  display: flex;
  justify-content: flex-end;
}
.checkbox-label-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.show-password {
  color: #ffffff;
  margin-left: 7px;
}

.main-list-container {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .main-list-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.no-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-password-logo {
  width: 70%;
}

.no-passwords-text {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .no-password-logo {
    width: 40%;
  }
}
